.navbar {
  overflow: hidden;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #e8eaed;
}

.container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80rem;
  width: 90%;
  margin: 0 auto;
}

.mobile-navbar {
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.mobile-navbar:hover {
  background-color: #e5e6e6;
  border-radius: 0.5rem;
}

.burger-button {
  vertical-align: middle;
  color: #3d4551;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: none;
}

.navbar a {
  text-decoration: none;
}

.navbar-link-item h3 {
  color: #333c4d;
  padding: 0.5rem;
}

.navbar-link-item h3:hover {
  background-color: #e5e6e6;
  border-radius: 0.5rem;
}

.logout-button h3 {
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #333c4d;
  color: #fff;
  border: none;
}

.logout-button:hover h3 {
  background-color: #66676e;
}

@media (min-width: 40rem) {
  .navbar {
    justify-content: space-between;
  }

  .burger-button {
    display: none;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
