.new-message-link {
  text-decoration: none;
  width: 90%;
  max-width: 25rem;
  text-align: center;
}

.new-message-link h3 {
  color: white;
  background-color: #333c4d;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
}

.new-message-link h3:hover {
  background-color: #66676e;
}
