.form {
  box-sizing: border-box;
  width: 90%;
  max-width: 25rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.message-input {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  color: inherit;
  border: 0.02rem solid #333c4d;
  transition: outline 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 2rem;
}

.form textarea:hover,
.form textarea:focus,
.form textarea:active {
  outline: 0.08rem solid #333c4d;
}

.submit-button {
  width: 100%;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #333c4d;
  color: #fff;
  border: none;
}

.submit-button:hover {
  background-color: #66676e;
}
