.form {
  box-sizing: border-box;
  width: 90%;
  max-width: 25rem;
}

.emailInput,
.passwordInput {
  box-sizing: border-box;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  border: 0.02rem solid #333c4d;
  color: inherit;
  transition: outline 0.2s ease-in-out;
  width: 100%;
  margin-bottom: 2rem;
}

.form input:hover,
.form input:focus,
.form input:active {
  outline: 0.08rem solid #333c4d;
}

.passwordInputDiv {
  position: relative;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 2.5%;
  color: rgba(51, 60, 77, 0.8);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.password-info {
  margin-top: -1rem;
}

.invalid-message {
  margin-top: -0.5rem;
  color: #f87272;
}

.invalid {
  outline: 0.1rem solid #f87272;
  border-color: transparent;
}

.signup-button {
  width: 100%;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #333c4d;
  color: #fff;
  border: none;
}

.signup-button:hover {
  background-color: #66676e;
}

@media (min-width: 40rem) {
  .form {
    width: 50%;
  }
}
